body {
    font-family: 'Poppins', sans-serif;
}
* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}
header {
    background: #f6f6f6;
    padding: 22px 0px;
}
.header-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-container a {
    color: black;
    font-size: 16px;
    padding: 27px 6px;
    margin-right: 50px;
}
.header-container a:hover {
    background: #ffea00;
}
#menu-checkbox {
    display: none;
}
ul {
    display: flex;
}
nav {
    margin-top: 10px;
}

.top-slide {
    background: url(img/slider_bg.jpg) center no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 280px;
}
.top-container {
    width: 85%;
    margin: 0 auto;
}
.top-slide h2 {
    background: #ffea00;
    display: inline;
    font-size: 70px;
    padding: 0 13px;
}
.top-slide :nth-child(2) {
    margin-bottom: 14px;
}
.top-slide p {
    background: #414146;
    display: inline;
    font-size: 24px;
    color: white;
    padding: 0 7px;
}

.specialize-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.specialize-container h3 {
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 90px;
}
.specialize-container p {
    font-size: 24px;
    margin-bottom: 65px;
    margin-top: 20px;
}
.first-p {
    font-size: 20px;!important;
}
.bottom-card {
    background: #414146;
    position: relative;
    top: -30px;
    color: white;
    width: 250px;
}
.card p {
    font-size: 17px;
    padding: 30px;
}
.specialize-cards {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.portfolio h4 {
    background: #424147;
    padding: 0 8px;
    display: inline-block;
    color: #f5e10a;
    font-size: 18px;
    margin-bottom: 30px;
}
.portfolio p {
    font-size: 16px;
    color: #424146;
}
.toggles button {
    border: none;
    color: #424146;
    cursor: pointer;
    font-size: 16px;
    margin: 20px 5px;
    background: white;
}
.toggles button:hover {
    background: #ffea00;
}
.toggles button:after {
    content: ' / ';
}
.toggles button:last-child:after {
    content: '';
}
.posts {
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0 auto;
}


@media screen and (max-width: 420px) {
    .header-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu {
        display: none;
    }
    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a {
        display: block;
        padding: 8px;
    }
    .toggle-button {
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
        margin-top: 30px;
    }
    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }
    .header-container a {
        margin-right: -50px;
    }
    .main-menu {
        position: relative;
    }
    .top-slide {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .top-slide h2 {
        font-size: 32px;
    }
    .top-slide p {
        font-size: 16px;
    }
    .specialize-container h3 {
        font-size: 22px;
        margin-top: 40px;
    }
    .specialize-container p {
        font-size: 16px;
        margin-bottom: 40px;
        margin-top: 10px;
    }
    .specialize-cards {
        flex-direction: column;
    }
    .bottom-card {
        margin: 0 auto;
        top: -18px;
    }
    .specialize-container p {
        margin-bottom: 20px;
    }
    .portfolio h4 {
        margin-bottom: 20px;
    }
    .toggles button {
        font-size: 14px;
        margin: 5px 5px;
    }
    .posts {
        grid-template-columns: auto;
        margin: 6px auto;
    }
}